/* Cores

#c3c3c3 -> cinza
#00346a -> azul
#001756 - azul escuro

*/

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/* ------------------------------------------ */

.divCabecalho {
    width: 100%;
    padding-top: 0.5%;
    height: 4%;
    background-color: #00346a;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}


/* ------------------------------------------ */

.divMenu {
    background-color: #c3c3c3;
    padding-top: 30px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    width: 100%;
    height: 60px;
}

#logo_home {
    border: none;
    background-color: #00346a;
    color: #c3c3c3;
    border: none;
    padding: 5px 10px;
    padding-right: 30px;
    padding-top: 10px;
    margin: 0px 10px;
    margin-top: -10px;
    font-size: large;
    border-radius: 10px;
}

#logo_home:hover {
    cursor: pointer;
}

.divMenu img {
    width: 120px;
    height: 30px;
    margin-left: 30px;
}

.divBotoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divCarrinho {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divCarrinho img {
    margin: 0px;
    width: 20px;
    height: 20px;
}

.botoes {
    background-color: #00346a;
    color: #c3c3c3;
    border: none;
    padding: 5px 10px;
    margin: 0px 10px;
    font-size: large;
    border-radius: 10px;
}

.botoes:hover {
    cursor: pointer;
}

.divMenu table {
    width: 100%;
}

.divMenu td {
    width: 33%;
    display: inline-block;
}


/* ------------------------------------------ */

.divPrincipal {
    width: 100%;
    height: 85%;
    text-align: center;
    background-image: url('../images/background.jpeg');
}

.divMensagemCativante {
    width: 20%;
    margin-top: 10%;
    margin-left: 40%;
    height: 10%;
    border-radius: 10px;
    position: absolute;
    background-color: #c3c3c3;
    opacity: 80%;
}

.divMensagemCativante p {
    vertical-align: middle;
    color: #00346a;
}

#botaoCadastrar {
    width: 10%;
    height: 10%;
    margin-top: 25%;
    background-color: #c3c3c3;
    color: #00346a;
}


/* ------------------------------------------ */

.divProdutos {
    background-image: url('../images/backgroundCinza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: -15px;
    background-color: #c3c3c3;
    padding-bottom: 3%;
}

.divProdutos table {
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.divTitulo {
    border-top: 5px solid white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00346a;
    padding: 20px;
    border-bottom: 5px solid white;
    background-color: #c3c3c3;
}

.produtos {
    background-color: #00346a;
    border-radius: 10px;
    margin: 10px 10px !important;
}

.produtos img {
    width: 300px;
    border-radius: 10px;
}


/* ------------------------------------------ */

.divVideo {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url("../images/background.jpeg");
}

#video {
    margin-top: 10%;
}


/* ------------------------------------------ */

.divDepoimentos {
    width: 100%;
    height: 60%;
    text-align: center;
    background-image: url('../images/backgroundCinza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#tabelaDepoimentos {
    margin: 5% 10%;
}

#tabelaDepoimentos td {
    background-color: #00346a;
    border-radius: 10px;
    color: #c3c3c3;
    padding: 30px;
}


/* ------------------------------------------ */

.divContato {
    text-align: center;
    width: 100%;
    height: 40%;
    font-size: 30px;
    color: #c3c3c3;
    background-image: url('../images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#infos {
    margin-top: 5%;
}


/* ------------------------------------------ */

.rodape {
    padding-top: 10px;
    width: 100%;
    height: 5%;
    text-align: center;
    background-image: url('../images/backgroundCinza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.rodape img {
    width: 24px;
    height: 24px;
}


/* ------------------------------------------ */

.divLogin {
    background-image: url('../images/backgroundCinza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 55%;
    padding-top: 10%;
    text-align: center;
}

.divLogin input {
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px 10px;
}

.divLogin a {
    text-decoration: none;
    color: black;
}


/* ------------------------------------------ */

.divRegistro {
    height: 75%;
    width: 100%;
    background-image: url('../images/backgroundCinza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.divRegistro input {
    width: 100%;
    border-radius: 5px;
    height: 30px;
}

.divRegistro button {
    width: 100%;
}

#tabelaRegistro {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 10%;
}

#botaoRegistro {
    background-color: #00346a;
    color: #c3c3c3;
    border: none;
    padding: 5px 10px;
    font-size: large;
    border-radius: 10px;
}

#botaoRegistro:hover {
    cursor: pointer;
}


/* ------------------------------------------ */

.divCart {
    height: 75%;
    width: 100%;
    background-image: url('../images/backgroundCinza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/* ------------------------------------------ */

.divProd {
    padding-top: 10%;
    text-align: center;
    height: 75%;
    width: 100%;
    background-image: url('../images/backgroundCinza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.divProd img {
    width: 100%;
    border-radius: 10px;
}

.divProd button {
    border: none;
    width: 300px;
    padding: 0px;
    border-radius: 10px;
    margin: 1%;
}

.divProd button:hover {
    cursor: pointer;
}

.divLegendaProd {
    position: absolute;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    transition: 500ms;
    font-size: 40px;
}

.divLegendaProd:hover {
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);
}

.divCart {
    padding-top: 40px;
    text-align: center;
}

.divCart img {
    border: 3px solid #c3c3c3;
    width: 20%;
    border-radius: 10px;
    margin: 10px;
}

.divCart button {
    position: absolute;
}